# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Env
.env
.env.*
scripts/.env

# Docker
*.log

# IDE
.vscode/
.idea/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*

# Misc
.DS_Store

# Next.js web app
apps/web/node_modules/
apps/web/.next/
apps/web/.env.local
